@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
  }

  body {
    padding-top: var(--sat);
    padding-right: var(--sar);
    padding-bottom: var(--sab);
    padding-left: var(--sal);
    @apply bg-slate-50 dark:bg-slate-950;
  }
}
